*, :root {
 box-sizing: border-box;
 margin: 0;
 scroll-behavior: smooth;
 color: black;
 font-size: 20px;
 font-family: 'Poppins', sans-serif;
 text-decoration: none;
 list-style-type: none;
}

body {
 position: relative;
 margin: 0px;
 height: auto;
 overflow-x: hidden;
 overflow-y: hidden;
 background: black;
}

::-webkit-scrollbar {
  width: 1px;
}

/*Section: Navbar */

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 5;
}

.nav-list {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.nav-list li {
  font-size: 1.7rem;
  -webkit-text-stroke: 0.5px white;
  font-weight: bold;
  transition: 0.5s;
  z-index: 10;
  cursor: pointer;
  margin-top: 10px;
}

.nav-list :hover{
  color: white;
  -webkit-text-stroke: 2px black;
}

.toggle-navbar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.toggle-navbar img {
  max-width: 100%;
  object-fit: contain;
}

/* Section: landing */

#landing {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
}


/* Section: Logo  */

.logo {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  position: relative;
  font-size: 3.5rem;
  font-weight: bold;
  -webkit-text-stroke: 2.5px white;
  z-index: 5;
}

.logo img {
  position: relative;
  max-width: 50em;
  height: auto;
  z-index: 5;
}


/* Section: video & Overlay */

#landing video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  mix-blend-mode: overlay;
}

/* Section: Media Queries */

@media (max-width: 850px) {
  .logo {
    flex-direction: column;
  }
  .nav-list {
    position: absolute;
    flex-direction: column;
    z-index: 10;
    background: black;
    top: -20rem;
    transition: 0.75s;
  }
  .toggle-navbar {
    display: block;
    transition: 0.75s;
    z-index: 20;
  }
  .contacts {
    display: none;
  }
}

/* Section: Sections */

.offscreen-section {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  z-index: 3;
  transition: 0.5s;
  background: #000000F2;
}

.section-title {
  color: white;
  text-align: center;
  margin-top: 1.75em;
  font-size: 3rem;
}
/* Section: About */

#skills h2 {
  margin: 100px auto 10px auto;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.about-text {
  color: white;
  margin: 5vh 20vw;
  padding: 5vh 5vw;
}

#skills img {
  max-width: 32vw;
  max-height: 64vh;
  min-width: 320px;
  min-height: 180px;
  object-fit: contain;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* Section: Projects */

.project-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.project-windows {
  max-width: 32vw;
  max-height: 18vh;
  min-width: 320px;
  min-height: 180px;
  margin: 50px;
  background: #00000000;
}

#project-window-one {
  background-image: URL("https://colnicdesign.com/wp-content/uploads/2020/03/f1-1.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#project-window-two {
  background-image: URL("https://i.pinimg.com/originals/98/2a/15/982a1577511a5658923e60f2f1249fdc.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#project-window-three {
  background-image: URL("https://i.pinimg.com/originals/80/d0/bf/80d0bf68ee1a33fbaa5bd87e798a3d0b.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#project-window-four {
  background-image: URL("https://i.pinimg.com/originals/ec/1e/f6/ec1ef6ed1ee3238a34cf428ea46e8718.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#project-window-five {
  background-image: URL("https://i.pinimg.com/236x/d7/60/df/d760df120589edf10447d3f5cfef7ec3.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#project-window-six {
  background-image: URL("https://www.hoofprints.com/images/BKBARBHCrack.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Section: Contact Section */

.form {
  width: 350px;
  margin: 100px auto 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

#form-title {
  font-size: 1.5rem;
  color: blue;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px auto;
  padding: 5px;
  font-size: 0.75rem;
}

#submit {
  border-radius: 10px;
  transition: 0.5s;
}

#submit:hover {
  background: skyblue;
}

.contacts {
  width: 100%;
  min-height: 50px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.contacts p, .contacts h4 {
  color: #dddddd;
  font-size: 0.75rem;
}
