:root {
  text-align: center;
  font-size: 20px;
}

#main {
  max-width: 1000px;
  height: 500px;
  background: radial-gradient(#1936c7 50%, #23ceff);
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.header_button {
  flex-grow: 1;
}

#dice_bar {
  width: 95%;
  height: 80px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.dice {
  width: 70px;
}

.dice :hover {
  animation: rotation 0.4s linear infinite;
  cursor: pointer;
}

@keyframes rotation {
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#roller_table {
  background-color: #ffffff;
  width: 95%;
  height: 195px;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

@keyframes dice_roll {
  100% {
    transform: rotate(360deg);
  }
}

#footer {
  background-color: #ffffff;
  max-width: 95%;
  height: 120px;
  margin: auto;
  border-radius: 0px 0px 5px 5px;
}

.footer_stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

#reset {
  padding: 10px;
  margin: 20px auto;
  background-color: #26b0c9;
  border-radius: 20%;
  font-weight: bold;
  font-size: .9rem;
}
